 html, body {
    font-family: 'Arial Rounded MT Bold', 'Helvetica Rounded', Arial, sans-serif;
    height: 100%;
    margin: 0;
    padding: 0;
}

.center-container,
.footer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.center-container {
    height: 93%;
}

.footer {
    font-size: 12px;
    height: 7%;
}

.content {
    text-align: center;
}

.content .photo {
    height: 300px;
    width: 300px;
}

.content .name {
    font-weight: bold;
    margin: 15px 0 5px;
}

.content .job {
    color: #000;
    font-weight: normal;
    margin: 5px 0;
}

.list {
    list-style: none;
    margin: 20px 0;
    padding: 0;
}

.list > .item {
    display: inline-block;
    padding: 0 2px;
}

a {
    text-decoration: none;
    color: #000;
}

.btn-social {
    border-radius: 100%;
    border: 2px solid #000;
    color: #000;
    display: inline-block;
    font-size: 23px;
    height: 45px;
    line-height: 42px;
    transition: all .3s ease-in-out;
    width: 45px;
}

.btn-social:hover,
.btn-social:focus,
.btn-social:active,
.btn-social.active {
    border: solid 2px #000;
    color: #fff;
    background: #000;
}

@media only screen
and (max-device-width : 736px) {
    .content .photo {
        height: 175px;
        width: 175px;
    }
}
